language: haxe

haxe:
  - "3.2.1"
  - "3.3.0-rc.1"
  - development

matrix:
  allow_failures:
  - haxe: development
    
addons:
  apt:
    packages:
      # PHP
      - php5-cli
      # Flash
      - libcurl3:i386
      - libglib2.0-0:i386
      - libx11-6:i386
      - libxext6:i386
      - libxt6:i386
      - libxcursor1:i386
      - libnss3:i386
      - libgtk2.0-0:i386
  code_climate:
    repo_token: 965ee8e9015e381b2ed65de89ad1a09d092e978aaebf4e8e29e120b64d028d71
    
before_install:
  - echo $TRAVIS_BRANCH
  - if [[ "$TRAVIS_BRANCH" != "master" ]]; then export DEPENDENCIES_BRANCH=develop; else export DEPENDENCIES_BRANCH=master; fi
  - echo $TRAVIS_TAG
  - if [[ "$TRAVIS_TAG" != "" ]]; then export DEPENDENCIES_BRANCH=$TRAVIS_TAG; fi
  - echo $DEPENDENCIES_BRANCH

install:
  - git clone --recursive -b $DEPENDENCIES_BRANCH https://github.com/DoclerLabs/hexUnit.git ./hexunit
  - git clone --recursive https://github.com/chipshort/hexDoc-Theme.git ./hexdoctheme
  - export DISPLAY=:99.0;
  - export AUDIODEV=null;
  - haxe flash/install.hxml

script:
  - haxe build-each.hxml -cp hexdoctheme/src --macro "ImportAll.run()" --no-output -xml xml/php.xml -php bin
  - if [ $TRAVIS_HAXE_VERSION != "3.2.1" ]; then haxe build-php.hxml && php bin/index.php; fi
  - haxe build-each.hxml -cp hexdoctheme/src --macro "ImportAll.run()" --no-output xml/neko.xml -neko bin/docs.n
  - haxe build-neko.hxml         && neko bin/MainCoreTest.n
  - haxe build-each.hxml -cp hexdoctheme/src --macro "ImportAll.run()" --no-output -xml xml/js.xml -js bin/docs.js
  - haxe build-js.hxml           && node bin/MainCoreTest.js
  - haxe build-each.hxml -cp hexdoctheme/src --macro "ImportAll.run()" --no-output -xml xml/flash.xml -swf-version 11 -swf bin/docs.swf
  - if [ $TRAVIS_HAXE_VERSION != "3.2.1" ]; then haxe build-flash.hxml -D fdb && haxe flash/run.hxml bin/MainCoreTest.swf; fi
  
notifications:
  email:
    recipients:
      - francis_bourre@me.com
      - peterphonix@gmail.com
      - laurent@geturl.net
